.box-icon {
    background-color: var(--c-white);
    box-shadow: 0 0.46875rem 2.1875rem rgba(0,0,0,.03), 0 0.9375rem 1.40625rem rgba(0,0,0,.03), 0 0.25rem 0.53125rem rgba(0,0,0,.05), 0 0.125rem 0.1875rem rgba(0,0,0,.03);

    .-icon {
        width: 35px;
    }

    .-title {
        padding: 10px 0;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .-description {
        // 
    }
}