.page-contact {
    // 

    .-title {
        margin: 0;
        font-size: 1.4rem;
    }

    .-sub-title {
        margin: 5px 0;
    }

    .-title, .-sub-title {
        text-align: center;
    }
}