.table {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    background-color: var(--c-white);

    thead {
        color: var(--c-white);
        background-color: var(--c-blue);

        @include tablet {
            display: none;
        }

        th {
            padding: 10px;
            min-width: 100px;

            &.column-id {
                width: 40px;
            }

            &.column-client-name {
                // 
            }

            &.column-client-address {
                width: 200px;
                word-wrap: break-word;
            }

            &.column-description {
                width: 100%;
            }

            &.column-invoice-date {
                // 
            }

            &.column-invoice-euro {
                // 
            }

            &.column-quantity {
                width: 50px;
            }

            &.column-estimate-name {
                // 
            }

            &.column-status {
                // 
            }

            &.column-date {
                // width: 100px;
            }

            &.column-action {
                width: 50px;
            }

            @include tablet {
                width: 100%;
            }
        }
    }

    tbody {
        // 

        tr {
            &:nth-child(even) {
                background-color: var(--c-lightGray);
            }

            &:hover {
                background-color: var(--c-silver);
            }

            @include tablet {
                display: flex;
                padding: 0 25px;
                flex-direction: column;
            }

            td {
                padding: 10px;

                &.-quantity {
                    width: 50px;
                }

                &.-price {
                    width: 50px;
                }
    
                &.-action {
                    gap: 5px;
                    display: flex;
                    text-align: center;
                }

                &.-new-row {
                    width: 50px;
                    text-align: center;
                }

                @include tablet {
                    text-align: left;
                    padding-left: 40%;
                    position: relative;
                    margin: 5px 0;
                    
                    &::before {
                        top: 0;
                        left: 0;
                        width: 30%;
                        padding: 10px;
                        font-size: 14px;
                        line-height: 1.2;
                        position: absolute;
                        font-weight: unset;
                        color: var(--c-black);
                    }

                    // Estimate
                    &.-estimate-name::before {
                        content: "Label du devis";
                    }

                    &.-freelance::before {
                        content: "Freelance";
                    }

                    // Client
                    &.-client::before {
                        content: "Client";
                    }
                    
                    &.-client-name::before {
                        content: "Société";
                    }

                    &.-client-address::before {
                        content: "Adresse";
                    }

                    // Invoice
                    &.-description::before {
                        content: "Description";
                    }

                    &.-invoice-date::before {
                        content: "Date";
                    }

                    &.-quantity {
                        width: auto;

                        &::before {
                            content: "Quantité";
                        }
                    }

                    &.-status::before {
                        content: "Statut";
                    }

                    &.-invoice-euro::before {
                        content: "Devise";
                    }

                    &.-tva::before {
                        content: "TVA";
                    }

                    &.-price {
                        width: auto;
                        
                        &::before {
                            content: "Prix";
                        }
                    }

                    &.-amount::before {
                        content: "Montant";
                    }

                    // Common
                    &.-m-hidden {
                        display: none;
                    }

                    &.-id::before {
                        content: "ID";
                    }

                    &.-title::before {
                        content: "Title";
                    }

                    &.-date::before {
                        content: "Date";
                    }

                    &.-january::before {
                        content: "January";
                    }

                    &.-february::before {
                        content: "February";
                    }

                    &.-march::before {
                        content: "March";
                    }

                    &.-april::before {
                        content: "April";
                    }

                    &.-may::before {
                        content: "May";
                    }

                    &.-june::before {
                        content: "June";
                    }

                    &.-july::before {
                        content: "July";
                    }

                    &.-august::before {
                        content: "August";
                    }

                    &.-september::before {
                        content: "September";
                    }

                    &.-october::before {
                        content: "October";
                    }

                    &.-november::before {
                        content: "November";
                    }

                    &.-december::before {
                        content: "December";
                    }

                    &.-provider::before {
                        content: "Prestataire";
                    }

                    &.-total::before {
                        content: "Total";
                    }

                    &.-action {
                        text-align: left;

                        &::before {
                            content: "Action";
                        }
                    }

                    &.-new-row {
                        text-align: left;

                        &::before {
                            content: "New row";
                        }
                    }
                }
            }
        }
    }
}